 /* CUSTOM_CSS */

aside {
  background-color: ##2f2e2e;
  color: #608ce2;;
}

aside a {
  color: #608ce2;

}

aside a:hover {
  color: #4da7de;
}

main a {
  color: #608ce2;
}

main a:hover {
  color: #4da7de;

}

a.btn {
  background-color: #608ce2;
}

a.btn:hover {
  color: #fff;
  background-color: #4da7de;
}

.tag-cloud a {
  background-color: #608ce2;
}

.tag-cloud a:hover {
  color: #fff;
  background-color: #4da7de;
}



.social a {
  color: #fff;
}
