{% if DEFAULT_PAGINATION %}
<div class="" style="margin-left: 45%;">
    <ul class="pagination">
        <li>
            {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">❮</a>
            {% else %}
                &nbsp;
            {% endif %}
        </li>
        <li>
            {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">❯</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}