<section class="">
    <header class="">
        <a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}">
            {% if article.author_gravatar %}
                <img class="avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}">
            {% endif %}
        </a>
        <div class="page-header">            
            <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            <p class="post-meta">{{ article.summary }}</p>
            <!-- Inserindo funcionalidade do plugin read-more-->
            <p><a class="read-more" href="{{ SITEURL }}/{{ article.url }}">Ler mais...</a></p>
            '<!-- Inserindo imagem com o plugin representative-image-->
            {% if  article.featured_image %}
            <p><img src="{{ article.featured_image }}"></p>
            {% endif %}
            <p class="post-meta">
                em <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> &middot; {{ article.locale_date }}
            </p>
        </div>
    </header>
</section>