<header class="header-article">
    <hgroup>
        <a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}">
            {% if article.author_gravatar %}
                <img class="avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}">
            {% endif %}
        </a>
        <h2 class="article-info">{{ article.author }}</h2>
        <small class="about-author">{{ article.about_author }}</small>
        <h5>Publicado</h5>
        <p>{{ article.locale_date }}</p>
        <a href="/">&larr;Home</a>
    </hgroup>
</header>