<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-body">
            <header class="header">
                <hgroup>
                    <div id="main-avatar">
                        <a href="{{ SITEURL }}">
                              <img class="avatar-profile" src="{{ PROFILE_IMAGE_URL }}">

                        
                           
                        </a>
                        <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                                                {% for title, link in MENUITEMS %}
                         <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></p>
                        {% endfor %}
                    </div>
                    <p class="tagline">{{ TAGLINE }}</p>
                    <p class="social">
                    {% for title, link in SOCIAL %}
                        <a href="{{ link }}" target="_blank">
                            <i class="fa fa-{{ title }} fa-3x"></i>
                        </a>
                    {% endfor %}
                    <p>
                </hgroup>
            </header>
        </div>
    </div>
</div>
